<div class="d-flex justify-content-between align-items-center">
    <i>2019 &copy; Jonathan Meyer</i><a href="https://github.com/jonathan-meyer/burger" target="_blank"><img
            class="img-thumbnail mx-1" src="/img/GitHub-Mark-32px.png"></a>
</div>