<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Burger :: {{title}}</title>

    <link rel="shortcut icon" href="/img/1f354.png" type="image/png">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css">

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>

    <div class="container p-3">
        <div class="card">
            <div class="card-header">{{> header}}</div>
            <div class="card-body">{{{body}}}</div>
            <div class="card-footer">{{> footer}}</div>
        </div>
    </div>

</body>

</html>