<div class="container">
    <div class="input-group my-3">
        <input type="text" class="form-control" placeholder="Add a Burger to the Menu"
            aria-label="Add a Burger to the Menu" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around">

    <div class="list-group w-25" id="toeat">
        <div class="list-group-item text-center font-weight-bold">To Eat</div>
        {{#toeat}}
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            {{type}}</a>
        {{/toeat}}
    </div>

    <img width="200" src="/img/1f354.svg">

    <div class="list-group w-25" id="eaten">
        <div class="list-group-item text-center font-weight-bold">Eaten</div>
        {{#eaten}}
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
            {{type}}</a>
        {{/eaten}}
    </div>
</div>